.container{width:100%;height:1000px}
.top{height:80px;background:#395db7;}
.left{width:15%;background:#222d32;float:left;}
.left ul{}
.left ul li{list-style: none;}
.left ul li a{text-decoration:none;color;#fff}
.right{width:80%;background: #f7e8e8;float: left;}

.container_formData{width:50%;margin:20px 20px;}
.container_formData .field {margin:10px 0px;}
.container_formData .field label{width: 6%;display:block;}
.container_formData .field span input ,select{width: 80%;height: 20px;border-radius: 5px;}
.butonInsert{width: 10% !important;height: 32px !important;background: #4890a9;color: white;font-size: 16px;}
.butonInsert:hover{background:#18772e}
